@font-face {
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Lato-Regular/Lato-Regular.eot");
    src: local('Lato-Regular'), url("./assets/fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("./assets/fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("./assets/fonts/Lato-Regular/Lato-Regular.svg") format("svg");
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  .responsive-img {
    height: auto;
    max-width: 100%;
  }